workflows/Score event RSVPs with GPT-4o-mini and sync leads to HubSpot with Slack alerts-12618/12618-score-event-rsvps-with-gpt-4o-mini-and-sync-leads-to-hubspot-with-slack-alerts.webp
{"id":"70bs78UVmHAeCTYP","meta":{"instanceId":"1cfae1c5e40abdb9d6aa4140af4a502d39ba6c004725411e2213384175f7e3f4"},"name":"Event Lead Scorer","tags":[],"nodes":[{"id":"a6b1ecd1-50ad-48ed-9f01-ae42a0f62e94","name":"Note - Trigger","type":"n8n-nodes-base.stickyNote","position":[-960,-208],"parameters":{"color":7,"width":300,"height":392,"content":"## 🎯 Trigger\n\nWebhook receives event registration form submissions with:\n- firstName, lastName, email\n- company, jobTitle, country\n- utmSource"},"typeVersion":1},{"id":"4ba4f54c-ff84-42e0-9ed7-6073bc3eef27","name":"Event Registration Webhook","type":"n8n-nodes-base.webhook","position":[-816,-16],"webhookId":"171398b6-1152-48b6-bfcf-4418037571cf","parameters":{"path":"event-rsvp","options":{},"httpMethod":"POST","responseMode":"lastNode"},"typeVersion":2.1},{"id":"89e28647-2af7-4997-abac-5fede309a8a5","name":"Workflow Configuration","type":"n8n-nodes-base.set","position":[-624,-16],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"hubspotContactUrl","type":"string","value":"https://app.hubspot.com/contacts/<__PLACEHOLDER_VALUE__HubSpot Portal ID__>/contact/"},{"id":"id-2","name":"qualifiedLeadThreshold","type":"number","value":70},{"id":"id-3","name":"slackSalesChannel","type":"string","value":"<__PLACEHOLDER_VALUE__Slack Sales Channel ID (e.g., C1234567890)__>"},{"id":"id-4","name":"slackMarketingChannel","type":"string","value":"<__PLACEHOLDER_VALUE__Slack Marketing Channel ID (e.g., C0987654321)__>"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"d4d5ee4d-da25-4ccc-a4ed-bf50044eef34","name":"Note - Validation","type":"n8n-nodes-base.stickyNote","position":[-448,-240],"parameters":{"color":6,"width":280,"height":468,"content":"## ✅ Validation\n\nCheck if email is present and valid.\n\nInvalid submissions → logged to Google Sheets"},"typeVersion":1},{"id":"bdb1deba-40bd-474a-ac1c-cd5b86f507cd","name":"Check Email Valid","type":"n8n-nodes-base.if","position":[-368,-16],"parameters":{"options":{},"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"id-1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $('Workflow Configuration').item.json.email }}"},{"id":"id-2","operator":{"type":"string","operation":"regex"},"leftValue":"={{ $('Workflow Configuration').item.json.email }}","rightValue":"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$"}]}},"typeVersion":2.2},{"id":"be71bf7b-6ae8-4b58-aec1-f1c18808a460","name":"Note - Invalid Branch","type":"n8n-nodes-base.stickyNote","position":[-144,-272],"parameters":{"color":5,"width":376,"height":288,"content":"## ❌ Invalid Submissions\n\nLog invalid/missing email submissions to Google Sheets for review"},"typeVersion":1},{"id":"61fb65be-cf1f-4ea3-a65b-e92d0c383eb5","name":"Log Invalid Submissions","type":"n8n-nodes-base.googleSheets","position":[16,-144],"parameters":{"columns":{"value":{"email":"={{ $json.email }}","company":"={{ $json.company }}","country":"={{ $json.country }}","jobTitle":"={{ $json.jobTitle }}","lastName":"={{ $json.lastName }}","firstName":"={{ $json.firstName }}","timestamp":"={{ new Date().toISOString() }}","utmSource":"={{ $json.utmSource }}"},"schema":[{"id":"firstName","required":false,"displayName":"firstName","defaultMatch":false,"canBeUsedToMatch":true},{"id":"lastName","required":false,"displayName":"lastName","defaultMatch":false,"canBeUsedToMatch":true},{"id":"email","required":false,"displayName":"email","defaultMatch":true,"canBeUsedToMatch":true},{"id":"company","required":false,"displayName":"company","defaultMatch":false,"canBeUsedToMatch":true},{"id":"jobTitle","required":false,"displayName":"jobTitle","defaultMatch":false,"canBeUsedToMatch":true},{"id":"country","required":false,"displayName":"country","defaultMatch":false,"canBeUsedToMatch":true},{"id":"utmSource","required":false,"displayName":"utmSource","defaultMatch":false,"canBeUsedToMatch":true},{"id":"timestamp","required":false,"displayName":"timestamp","defaultMatch":false,"canBeUsedToMatch":false}],"mappingMode":"defineBelow","matchingColumns":["email"]},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"name","value":"Invalid Submissions"},"documentId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google Sheet ID for Invalid Submissions__>"}},"credentials":{"googleSheetsOAuth2Api":{"id":"WfiC2GpB20wrykIM","name":"Google Sheets account"}},"typeVersion":4.7},{"id":"7e00ae79-eeb0-400b-b105-29d8699d83a4","name":"Note - AI Scoring","type":"n8n-nodes-base.stickyNote","position":[-144,32],"parameters":{"width":316,"height":376,"content":"## 🤖 AI Lead Enrichment\n\nOpenAI analyzes lead data and returns:\n- ICP fit level (High/Medium/Low)\n- Lead score (0-100)\n- Next action recommendation\n- Reasoning"},"typeVersion":1},{"id":"5981cc68-2e39-45e7-8be7-55962409b84d","name":"AI Lead Enrichment & Scoring","type":"@n8n/n8n-nodes-langchain.openAi","position":[-112,256],"parameters":{"modelId":{"mode":"id","value":"gpt-4o-mini"},"options":{},"responses":{"values":[{"content":"=Lead Data:\n- Name: {{ $json.firstName }} {{ $json.lastName }}\n- Email: {{ $json.email }}\n- Company: {{ $json.company }}\n- Job Title: {{ $json.jobTitle }}\n- Country: {{ $json.country }}\n- UTM Source: {{ $json.utmSource }}\n\nAnalyze this lead and provide a JSON response with:\n- fitLevel: \"High\", \"Medium\", or \"Low\" (ICP fit for B2B events)\n- leadScore: numeric value from 0-100\n- nextAction: suggested next step (e.g., \"Sales call\", \"Nurture\", \"Invite to webinar\")\n- reason: brief explanation for the score\n\nReturn ONLY valid JSON, no markdown formatting."}]},"builtInTools":{}},"credentials":{"openAiApi":{"id":"ZhlmkjuQcokHH8w4","name":"n8n free OpenAI API credits"}},"typeVersion":2},{"id":"0a198e60-5ec6-4cb5-a71e-c2da2015ab8a","name":"Parse AI Response","type":"n8n-nodes-base.set","position":[192,80],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"aiResponse","type":"object","value":"={{ JSON.parse($json.message.content) }}"},{"id":"id-2","name":"fitLevel","type":"string","value":"={{ JSON.parse($json.message.content).fitLevel }}"},{"id":"id-3","name":"leadScore","type":"number","value":"={{ JSON.parse($json.message.content).leadScore }}"},{"id":"id-4","name":"nextAction","type":"string","value":"={{ JSON.parse($json.message.content).nextAction }}"},{"id":"id-5","name":"reason","type":"string","value":"={{ JSON.parse($json.message.content).reason }}"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"9cce8a09-61e1-47a2-89a8-9f5298994615","name":"Note - Lead Triage","type":"n8n-nodes-base.stickyNote","position":[352,-64],"parameters":{"color":4,"width":260,"height":310,"content":"## 🎯 Lead Triage\n\nScore >= 70 → Qualified Lead\nScore < 70 → Nurture Lead"},"typeVersion":1},{"id":"a66431ee-7bab-4f55-84a9-8a4387cac8b2","name":"Check Lead Score >= 70","type":"n8n-nodes-base.if","position":[432,80],"parameters":{"options":{},"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"id-1","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $('Parse AI Response').item.json.leadScore }}","rightValue":"70"}]}},"typeVersion":2.2},{"id":"b4c7dcf4-751c-41e5-a3f7-8da9e1de783e","name":"Note - HubSpot CRM","type":"n8n-nodes-base.stickyNote","position":[752,-240],"parameters":{"color":3,"width":300,"height":668,"content":"## 📊 HubSpot CRM\n\nUpsert contact by email.\n\nStore AI fields in custom properties:\n- ai_fit_level\n- ai_lead_score\n- ai_next_action\n- ai_reason"},"typeVersion":1},{"id":"1f911ba6-c1e0-4e52-bd56-b4460f8a1f41","name":"Upsert Contact in HubSpot (Qualified)","type":"n8n-nodes-base.hubspot","position":[848,16],"parameters":{"email":"={{ $json.email }}","options":{},"additionalFields":{"country":"={{ $json.country }}","jobTitle":"={{ $json.jobTitle }}","lastName":"={{ $json.lastName }}","firstName":"={{ $json.firstName }}","companyName":"={{ $json.company }}","customPropertiesUi":{"customPropertiesValues":[{"value":"={{ $json.fitLevel }}","property":"ai_fit_level"},{"value":"={{ $json.leadScore }}","property":"ai_lead_score"},{"value":"={{ $json.nextAction }}","property":"ai_next_action"},{"value":"={{ $json.reason }}","property":"ai_reason"},{"value":"={{ $json.utmSource }}","property":"utm_source"}]}}},"typeVersion":2.2},{"id":"c621c81d-2bb5-476c-8faa-9e7966d8658d","name":"Upsert Contact in HubSpot (Nurture)","type":"n8n-nodes-base.hubspot","position":[848,208],"parameters":{"email":"={{ $json.email }}","options":{},"additionalFields":{"country":"={{ $json.country }}","jobTitle":"={{ $json.jobTitle }}","lastName":"={{ $json.lastName }}","firstName":"={{ $json.firstName }}","companyName":"={{ $json.company }}","customPropertiesUi":{"customPropertiesValues":[{"value":"={{ $json.fitLevel }}","property":"ai_fit_level"},{"value":"={{ $json.leadScore }}","property":"ai_lead_score"},{"value":"={{ $json.nextAction }}","property":"ai_next_action"},{"value":"={{ $json.reason }}","property":"ai_reason"},{"value":"={{ $json.utmSource }}","property":"utm_source"}]}}},"typeVersion":2.2},{"id":"aa400adc-b429-4e6d-8864-a2f0b9b2100d","name":"Note - Slack Notifications","type":"n8n-nodes-base.stickyNote","position":[1072,-192],"parameters":{"width":300,"height":616,"content":"## 💬 Slack Notifications\n\nQualified → #sales channel\nNurture → #marketing channel\n\nIncludes lead details, score, and HubSpot link"},"typeVersion":1},{"id":"d5d82e6b-a2b4-48cd-9157-360bbbb3c7c3","name":"Notify Sales - Qualified Lead","type":"n8n-nodes-base.slack","position":[1152,32],"webhookId":"4cae339a-5cf2-44ab-86f6-de7ad891125c","parameters":{"text":"=🔥 *Qualified Lead Alert*\n\n*Name:* {{ $json.firstName }} {{ $json.lastName }}\n*Company:* {{ $json.company }}\n*Job Title:* {{ $json.jobTitle }}\n*Country:* {{ $json.country }}\n\n*Lead Score:* {{ $json.leadScore }}/100\n*ICP Fit:* {{ $json.fitLevel }}\n*Next Action:* {{ $json.nextAction }}\n*Reason:* {{ $json.reason }}\n\n<{{ $('Workflow Configuration').first().json.hubspotContactUrl }}{{ $json.id }}|View in HubSpot>","select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.slackSalesChannel }}"},"otherOptions":{},"authentication":"oAuth2"},"credentials":{"slackOAuth2Api":{"id":"yehGuGNkJFnbJUnx","name":"Slack account"}},"typeVersion":2.3},{"id":"69baa147-51ce-489a-932f-c1ec9aa0b713","name":"Notify Marketing - Nurture Lead","type":"n8n-nodes-base.slack","position":[1152,224],"webhookId":"3c03fdc1-bdc7-4873-b3d3-1ada770ae51a","parameters":{"text":"=📋 *New Nurture Lead*\n\n*Name:* {{ $json.firstName }} {{ $json.lastName }}\n*Company:* {{ $json.company }}\n*Job Title:* {{ $json.jobTitle }}\n\n*Lead Score:* {{ $json.leadScore }}/100\n*Next Action:* {{ $json.nextAction }}\n\n<{{ $('Workflow Configuration').first().json.hubspotContactUrl }}{{ $json.id }}|View in HubSpot>","select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.slackMarketingChannel }}"},"otherOptions":{},"authentication":"oAuth2"},"credentials":{"slackOAuth2Api":{"id":"yehGuGNkJFnbJUnx","name":"Slack account"}},"typeVersion":2.3},{"id":"8721d7ae-773b-44fd-af28-022b4eee1369","name":"Note - Logging","type":"n8n-nodes-base.stickyNote","position":[1408,-128],"parameters":{"color":2,"width":280,"height":436,"content":"## 📝 Logging\n\nAll processed leads logged to Google Sheets:\n- Input fields\n- AI scoring results\n- Timestamp"},"typeVersion":1},{"id":"b4b34fdb-879f-4b32-8efb-9a3e38fb1711","name":"Log to Event RSVP AI Leads Sheet","type":"n8n-nodes-base.googleSheets","position":[1440,80],"parameters":{"columns":{"value":{"email":"={{ $json.email }}","reason":"={{ $json.reason }}","company":"={{ $json.company }}","country":"={{ $json.country }}","fitLevel":"={{ $json.fitLevel }}","jobTitle":"={{ $json.jobTitle }}","lastName":"={{ $json.lastName }}","firstName":"={{ $json.firstName }}","leadScore":"={{ $json.leadScore }}","timestamp":"={{ new Date().toISOString() }}","utmSource":"={{ $json.utmSource }}","nextAction":"={{ $json.nextAction }}"},"schema":[{"id":"firstName","required":false,"displayName":"firstName","defaultMatch":false,"canBeUsedToMatch":true},{"id":"lastName","required":false,"displayName":"lastName","defaultMatch":false,"canBeUsedToMatch":true},{"id":"email","required":false,"displayName":"email","defaultMatch":true,"canBeUsedToMatch":true},{"id":"company","required":false,"displayName":"company","defaultMatch":false,"canBeUsedToMatch":true},{"id":"jobTitle","required":false,"displayName":"jobTitle","defaultMatch":false,"canBeUsedToMatch":true},{"id":"country","required":false,"displayName":"country","defaultMatch":false,"canBeUsedToMatch":true},{"id":"utmSource","required":false,"displayName":"utmSource","defaultMatch":false,"canBeUsedToMatch":true},{"id":"leadScore","required":false,"displayName":"leadScore","defaultMatch":false,"canBeUsedToMatch":true},{"id":"fitLevel","required":false,"displayName":"fitLevel","defaultMatch":false,"canBeUsedToMatch":true},{"id":"nextAction","required":false,"displayName":"nextAction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reason","required":false,"displayName":"reason","defaultMatch":false,"canBeUsedToMatch":true},{"id":"timestamp","required":false,"displayName":"timestamp","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["email"]},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"name","value":"Event RSVP AI Leads"},"documentId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google Sheet ID for Event RSVP AI Leads__>"}},"credentials":{"googleSheetsOAuth2Api":{"id":"WfiC2GpB20wrykIM","name":"Google Sheets account"}},"typeVersion":4.7}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"f1395578-9530-443c-99e5-aa6c08467352","connections":{"Check Email Valid":{"main":[[{"node":"AI Lead Enrichment & Scoring","type":"main","index":0}],[{"node":"Log Invalid Submissions","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Check Lead Score >= 70","type":"main","index":0}]]},"Check Lead Score >= 70":{"main":[[{"node":"Upsert Contact in HubSpot (Qualified)","type":"main","index":0}],[{"node":"Upsert Contact in HubSpot (Nurture)","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Check Email Valid","type":"main","index":0}]]},"Event Registration Webhook":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"AI Lead Enrichment & Scoring":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Notify Sales - Qualified Lead":{"main":[[{"node":"Log to Event RSVP AI Leads Sheet","type":"main","index":0}]]},"Notify Marketing - Nurture Lead":{"main":[[{"node":"Log to Event RSVP AI Leads Sheet","type":"main","index":0}]]},"Upsert Contact in HubSpot (Nurture)":{"main":[[{"node":"Notify Marketing - Nurture Lead","type":"main","index":0}]]},"Upsert Contact in HubSpot (Qualified)":{"main":[[{"node":"Notify Sales - Qualified Lead","type":"main","index":0}]]}}}